{% if not is_xhr|default(false) %}{% extends "base.html" %}{% endif -%}
{% block content %}
    <div id="dashboard">
        {% for servant_id, servant_data in servant_result.items() %}
            <div class="box matchengine">
                <div class="box-header">
                    <span>{{ servant_id }}</span>
                </div>
                <div class="box-content">
                    <table class="table">
                        {% for key, value in servant_data.items() %}
                            <tr>
                                <td class="label-col">{{ key }}</td>
                                <td class="iowait">{{ value }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}